<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>PrimeFaces Order</title>
</h:head>

<h:body>
    <p:dataTable var="order" value="#{orderPF.findAll()}">
        <p:column style="width:20px" headerText="Id">
            <h:outputText value="#{order.id}" />
        </p:column>

        <p:column headerText="Customer name">
            <h:outputText value="#{order.customerName}" />
        </p:column>

        <p:column headerText="Customer address">
            <h:outputText value="#{order.customerAddress}" />
        </p:column>

        <p:column headerText="Price">
            <h:outputText value="#{order.price}" />
        </p:column>

        <p:column headerText="Create date">
            <h:outputText value="#{order.createDate}" />
        </p:column>

        <p:column headerText="Order details">
            <h:outputText value="#{order.orderDetails}" />
        </p:column>
    </p:dataTable>
    <h:outputText value="#{orderPF.showCurrentDate()}" />
</h:body>
</html>